
.theme-bg-surface{
    background-color: #0A4D68 !important;
}

.theme-bg-primary{
    background-color: #088395 !important;
}

.theme-bg-secondary{
    background-color: #05BFDB !important;
}

.theme-bg-text{
    color: #00FFCA !important;
}
